html {
  font-size: 20px;
  --black: #0C1116;
  --white: #FFFFFF;
  --blue: #2D9CDB;
  --yellow: #F2C94C;
  --green: #27AE60;
  --red: #EB5757;
  --grey: #F8FBFC;

}

body,
h1 {
  margin: 0;
  font-family: 'PT Root UI', sans-serif;
}

a {
  text-decoration: none;
  font-size: .8rem;
  color: var(--black);
}

ul {
  list-style: none;
}

.header,
.nav,
.nav__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14px;
  padding: 0;
}

.nav__item {
  margin: 20px;
}

.nav__item a {
  position: relative;
  transition: .5s;
  color: var(--white);
  font-weight: 700;
  margin: 0 auto;
}

.nav__item a:hover::before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 40%;
  height: 1.5px;
  background-color: #00A6ED;
}

.nav__item a:hover {
  color: #00A6ED;
}

header {
  background-color: #24292C;
}

.bell {
  position: relative;
  margin-right: 48px;
}

.bell::before {
  content: "2";
  top: -15px;
  left: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  line-height: 24px;
  color: var(--white);
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  background-color: #EB4458;
  border-radius: 50%;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.person>span {
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
  position: relative;
  padding-right: 42px;
  outline: none;
}

.person>span::after {
  position: absolute;
  content: '';
  display: block;
  right: 0px;
  top: 7px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid var(--white);
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
  width: 80%;
}

.refresh {
  box-sizing: border-box;
  position: relative;
  display: block;
  background-color: var(--white);
  color: var(--black);
  border-radius: 12px;
  border: 1px solid #CDDBE4;
  width: 127px;
  height: 40px;
  transition: .5s;

}

.refresh:hover {
  background-color: var(--grey);
}

.title img {
  left: 15px;
  position: absolute;
  padding-top: 8px;
}

table {
  width: 80%;
  font-size: .7rem;
  border: 1px solid #CEE0E8;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 24px;
}

thead {
  border-radius: 24px;
  border-collapse: collapse;
  background-color: var(--grey);
}

thead th:first-child {
  border-top-left-radius: 24px;
  border-left: 1px #CEE0E8;
}

thead th:last-child {
  border-top-right-radius: 24px;
  border-right: 1px #CEE0E8;
}

tbody {
  background-color: var(--white);
}

th {
  padding-top: 14px;
  border: none;
}

td {
  padding: 14px;
}

tbody tr:hover {
  background-color: #F3F7F9;
}

tbody>tr {
  border-top: 1px solid #F0F5F8;
  border-bottom: 1px solid #F0F5F8;
}

thead input {
  height: 43px;
  width: 100%;
  border: 0;
  background: var(--white);
  box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04), 0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04), 0px 0px 1px rgba(0, 98, 140, 0.7);
  border-radius: 8px;
  padding: 0 10px 0 34px;

}

.clm1 {
  max-width: 112px;
  text-align: center;
}

.clm2 {
  max-width: 208px;
  text-align: center;
}

.clm3 {
  max-width: 136px;
  text-align: center;
}

.clm4 {
  max-width: 208px;
  text-align: center;
}

.clm5 {
  max-width: 87px;
  text-align: center;
}

.clm6 {
  max-width: 159px;
  text-align: center;
}

.clm6 {
  max-width: 15px;

}

thead td.clm1,
thead td.clm2,
thead td.clm4,
thead td.clm5,
thead td.clm6 {
  position: relative;

}

thead td.clm1::before,
thead td.clm2::before,
thead td.clm4::before,
thead td.clm5::before,
thead td.clm6::before {
  position: absolute;
  content: '';
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 10px;
  top: 32px;
  left: 36px;
  padding: 1px;
}

input[type="date"] {
  padding: 0 10px;
}

th.clm1,
th.clm5 {
  position: relative;
}

th.clm1::after,
th.clm5::after {
  position: absolute;
  content: '';
  background-image: url(..//img/arrow_down.png);
  width: 9px;
  height: 13px;
  top: 20px;
  right: 20px;
}

.nmbr {
  text-align: right;
}

.more a:hover {
  color: #00A6ED;
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.sub_menu {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 214px;
  height: 192px;
  box-shadow: -2px -1px 20px rgba(39, 39, 39, 0.1);
  border-radius: 16px;
  top: 300px;
  right: 80px;
  margin: 0;
}

.sub_menu_items {
  padding-left: 24px;
}

.sub_menu_items>li {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  color: var(--black);
  margin-bottom: 17px;
}

.subtext {
  font-size: 0.65rem;
}

.subtextred {
  font-size: 0.65rem;
  color: var(--red);
}

tbody:hover .sub_menu {
  display: flex;
}

.footer_nmb {
  padding: 10px;
  color: var(--black);
  border: none;
  background-color: var(--white);
  font-size: .7rem;
}

.footer_nmb:hover {
  padding: 8px 14px;
  background-color: var(--blue);
  border-radius: 8px;
  color: var(--white);
  transform: scale(1.2);
}

td label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

td select {
  border: 1px solid #CDDBE4;
  border-radius: 8px;
  width: 56px;
  height: 32px;
}