body {
    max-width: 100%;
    padding: 0; 
    margin: 0;
}

.form{
   width: 100%;
   margin: 0 auto; 
   position: relative;
   background-color: #FBE4FF;
}

.nav{
    list-style: none;
    display: flex;
}

.nav-item > a{
    text-decoration: none;
    color: white;
    padding: 25px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
   
}

.header{
    background-color: #243B93;   
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 80%;
    margin: 0 auto;  
}

.header__lang{
    display: flex;
    align-items: center;
    list-style: none;
}

.globus{
    margin-right: 10px;
}

.ua{
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}


.header2{
    background-color: #BFF0FF; 
 }

 .header2_wrapper{
   width: 80%;
   margin: 0 auto;
 }

 .text{
   line-height: 80px;
   font-weight: 400;
   font-size: 44px;
   font-style: italic;
   color: #202846; 

 }


.header3 {
    width: 80%;
    height: 57px;
    background-color: #FFFFFF; 
    font-size: 28px;
    margin: 27px auto;
    line-height: 54px;
    text-align: center;
    color: rgba(0, 0, 0, .61);
}
.card {
width: 80%;
height: 300px;
margin: 0 auto;
background: linear-gradient(45deg, #ADCBD4, #00AEE5);
position: relative;
margin-bottom: 25px;
display: flex;
align-items: center;
box-sizing: border-box;
}

.card__info{
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10px;
    margin-right: 20px;

}

.card__img {
float: left;
width: 447px; 
height: 246px;
padding: 27px;

}
.card__title {
font-size: 36px;
font-style: italic;
font-weight: bold;
border-bottom: 3px solid white; 
}
.description{
    height: 191px;
    border: 1px #000000;
    background: #EDFBFF;
    font-size: 22px; 
    margin-top: 10px;
    padding: 10px 10px 0;
}
.star {
    background-image: url(../logo/whitestar.svg);
    width: 48px;
    height: 46px;
    top: 0px;
    right: 4px;
    position: absolute;
}
.btn {
    display: block;
    width: 210px;
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    padding-top: 10px;
    top: 230px;
    right: -24px;
    text-align: center;
    position: absolute;
}
.btn__link {
    font-size: 24px;
    line-height: 36px;
    color: white;
    display: block;
    text-decoration: none;
}
.card:hover {
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 40px 4px rgba(44, 189, 235, 1);
}
.card:hover>.star {
    background-image: url(../logo/star.png);
}
.card:hover>.btn {
    background-color: #EF075B;
}
.arrow{
    position: fixed;
    bottom: 7vh;
    left: 90vw;
    background: rgba(48, 12, 106, 0.3) ;
    width: 101px;
    height: 101px;
    border-radius: 100px;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
 }
 
 .arrow:hover{
    background: rgba(48, 12, 106, 0.7)
 }
 
