body {
    background: #F0FFF0;
    margin: 0px;
}
.screen {
    background-color: black;
    width: 409px;
    height: 490px;
    margin: auto;
}
img {
    margin: auto;
    padding: 13px 132px;
}
p {
    border: 5px solid white;
    width: 300px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2pt;
    line-height: 50px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.welcome {
    border: none;
    text-transform: lowercase;
    font-weight: bolder;
    letter-spacing: 9pt;
    font-size: 29px;
    margin: 8px auto 40px;
    }
    a {
        text-decoration: none;
    }
