body {
  margin: 0;
  font-size: 30px;
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  padding: 0;
}

.gallery,
.services,
.team,
.contact {
  min-height: 100vh;
  box-sizing: border-box;
}

/* header style */
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

header a {
  color: #FFFCFC;
  text-decoration: none;
  font-style: italic;

}

.header__container {
  background: black;
  display: flex;
  justify-content: space-between;
  height: 129px;
  min-width: 100vh;
  margin: 0 auto;
  align-items: center;
  padding-right: 37px;
}

.logo__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFCFC;
}

.logo {
  width: 253px;
  height: 129px;
  left: 0px;
  top: 0px;

}

.logo>img {
  width: 100%;
  height: 100%;
}

.header__list {
  font-size: 1.2rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 0;
}

.header__list>li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gallery style */
.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;


}

.gallery img {
  margin-bottom: 20px;
}

.gallery_first_left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  transform: translateX(-1000vw);
  animation: animation_first_left 1s linear 1s forwards;
}

@keyframes animation_first_left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.gallery_first_right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transform: translateX(-1000vw);
  animation: animation_first_right 1s linear 1s forwards;

}

@keyframes animation_first_right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.gallery_second_left {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  transform: translateX(-1000vw);
  animation: animation_second_left 1s linear 2s forwards;
  animation-delay: 2s;
}

@keyframes animation_second_left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.gallery_second_right {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  transform: translateX(-1000vw);
  animation: animation_second_right 1s linear 2s forwards;
  animation-delay: 2s;
}

@keyframes animation_second_right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/*services style */
.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;


}

.mainphoto {
  background-image: url(../img/page_services/pexels-cottonbro-3998389\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 50%;
  min-height: 100vh;
  float: right;
}

.services__list {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  gap: 31px;
  margin-left: 105px;

}

.services__list>div {
  margin: 31px;
  font-size: 1.6rem;

}

.services__list p {
  text-align: center;
}

.services__list img {
  display: block;
  object-fit: fill;

}

.hair {
  animation: animation__hair 20s linear infinite;
  position: relative;
}

@keyframes animation__hair {

  from,
  to {
    top: 0;
    left: 0;
  }

  25% {
    top: 0;
    left: 50%;
  }

  50% {
    top: 50%;
    left: 50%;
  }

  75% {
    top: 50%;
    left: 0;
  }

}

.beard {
  animation: animation__beard 20s linear infinite;
  position: relative;
}

@keyframes animation__beard {

  from,
  to {
    top: 0;
    right: 0;
  }

  25% {
    top: 50%;
    right: 0%;
  }

  50% {
    top: 50%;
    right: 50%;
  }

  75% {
    top: 0px;
    right: 50%;
  }
}

.straightening {
  animation: animation__straightening 20s linear infinite;
  position: relative;
}

@keyframes animation__straightening {

  from,
  to {
    top: 0;
    right: 0;
  }

  25% {
    top: 0;
    right: 50%;
  }

  50% {
    top: -50%;
    right: 50%;
  }

  75% {
    top: -50%;
    right: 0;
  }
}

.shave {
  animation: animation__shave 20s linear infinite;
  position: relative;
}

@keyframes animation__shave {

  from,
  to {
    top: 0;
    left: 0;
  }

  25% {
    top: -50%;
    left: 0;
  }

  50% {
    top: -50%;
    left: 50%;
  }

  75% {
    top: 0;
    left: 50%;
  }
}


/*team style */

.team h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin: 214px auto;

}

.team__photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 671px;

}

.team__photo>div {
  background-color: black;
  display: flex;
  border-radius: 40px;
  align-items: center;
  width: 400px;
  overflow: hidden;
  margin: 12px;
}

.team__photo img {
  width: 100%;

}

.team__photo:hover img {
  opacity: 0.5;
}

.team__photo>div:hover img {
  opacity: 1;
}

.expert_one {
  position: relative;
}

.expert_one:hover::after {
  content: 'Meredith';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 400px;
  height: 150px;
  background-color: rgba(163, 83, 10, 0.7);
  bottom: 0;
  position: absolute;
  transition: 1s;

}

.expert_two {
  position: relative;
}

.expert_two:hover::after {
  content: 'Jason';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 400px;
  height: 150px;
  background-color: rgba(163, 83, 10, 0.7);
  bottom: 0;
  position: absolute;
  transition: 1s;
}

.expert_three {
  position: relative;
}

.expert_three:hover::after {
  content: 'Ryan';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 400px;
  height: 150px;
  background-color: rgba(163, 83, 10, 0.7);
  bottom: 0;
  position: absolute;
  transition: 1s;
}

.expert_four {
  position: relative;
}

.expert_four:hover::after {
  content: 'James';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 400px;
  height: 150px;
  background-color: rgba(163, 83, 10, 0.7);
  bottom: 0;
  position: absolute;
  transition: 1s;
}

/*contact style */

.contact_box {
  display: flex;
  gap: 34px;
  margin: 24px 162px;
  box-sizing: border-box;


}

.message {
  font-size: 1rem;
  text-align: center;
  width: 100%;

}

.message__title {
  width: 50%;
  text-align: center;
  margin: 0 auto;

}

.message__title h2 {
  font-size: 2.13rem;
  font-style: italic;
  font-weight: 700;


}

.message__form {

  background-color: #E5E5E5;
  padding: 20px;
  width: 100%;
  height: 30vh;
  margin: 0;
  box-sizing: border-box;
}

.message__form input {
  display: block;
  float: left;
  height: 60px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  font-weight: bold;
}

input[type="text"] {
  width: 40%;
  margin-right: 40px;
}

input[type="email"] {
  width: 50%;

}


.message__form textarea {
  display: block;
  float: left;
  color: rgba(0, 0, 0, 0.5);
  width: 98%;
  height: 60%;
  border: none;
  font-size: 1.2rem;
  font-family: 'Rosario', sans-serif;
  font-weight: bold;
  padding: 10px;


}

.contact__map {
  width: 60%;

}

.contact__map iframe {
  height: 100%;
  width: 100%;

}


/* footer style */
.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin-top: 74px;

}

.footer>div {
  margin: 20px;
}

.adress {
  width: 60%;
  font-style: italic;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
  padding-top: 40px;
}

.adress span {
  font-weight: bolder;
  font-style: normal;
}

.hours {
  width: 50%;
  text-align: center;
}

.hours h4,
.social h4 {
  font-size: 1.6rem;
  margin-bottom: 30px;
  font-weight: bold;
  font-style: normal;


}

.hours p {
  font-weight: 600;
  font-size: 1.2rem;
  font-style: italic;
}

.social {
  width: 40%;
  font-style: italic;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social ul {
  padding-left: 0;
  margin: 0;

}

.social li {
  width: 100%;
  list-style: none;
  padding-left: 0;

}

.footer a {
  text-decoration: none;
  color: black;
  line-height: 1.6rem;
  text-align: left;
}

.inst a::before {
  content: url(../img/icons/instagram.svg);
  padding: 20px;

}

.fb a::before {
  content: url(../img/icons/facebook.svg);
  padding: 20px;

}

.twt a::before {
  content: url(../img/icons/twitter.svg);
  padding: 20px;

}