:root {
    --color-blue: #0072DB;
    --color-orange: #eed80f;
}
body {
    margin: auto;
    width: 1440px;
    height: 2767px;
}
.header {
    text-align: center;
    letter-spacing: 2pt;
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 24px;
   

}
.text__blue {
    color: var(--color-blue);
    
}
.text__orange {
    color: var(--color-orange);
}
.box {
width: 1440px;
height: 766px;
background-image: url(../img/Flag.png), url(../img/Ukraine_main.png);
background-repeat: no-repeat;
background-size: 1.5%, 100%;
background-position: 80px center, center;
padding-top: 30px;
margin: auto 0;
}
.text {
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    width: 1036px;
    height: 304px;
    position: relative;
    top: 240px;
    left: 141px;
    line-height: 68px;
  }
  
  .gradient {
    width: 592px;
    margin-left: 0px;
    margin-bottom: 24px;
    height: 7px;
    background: linear-gradient(to right, #a5e3f7 20%, #1a0fe7 50%, #ffe96c 50%, #fdf4cb 80%);
  }
.cards {
    min-width: 992px;
    min-height: auto;
    margin: 0 auto;
}
.card {
display: inline-block;
width: 30%;
border: 7px solid #0D095F;
min-height: 481px;
min-width: 391px;
vertical-align: top;
border-radius: 34px;
box-shadow: 11px 18px 30px 2px rgb(198, 232, 247), -11px 18px 10px 2px rgb(198, 232, 247);

}
.card__margin {
    margin: 0 3%;
}
.card__img > img {
    width: 100%;
}
.card__title {
    color:var(--color-blue);
    text-indent: 8pt;
    font-size: 24px;
}
.description {
    color: var(--color-orange);
    text-indent: 8pt;
    font-size: 18px;
    word-break: break-all;
}
h2 {
    padding: 0 40px;
}
.map {
    text-align: center;
    width: 100%;
}
img {
    width: 100%;  
}
.text__border {
    width: 480px;
    height: auto;
    border-bottom: 5px solid #1400ff;
    margin: 48px auto;
   
}
a {
    color: #FFFFFF;
    text-decoration: none;  
}

.button {
    
    border-radius: 30px;
    background-color: #0072DB;
    width: 300px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size:28px;
    font-weight: bold;
    margin: 24px auto;
    padding-top: 12px;
     
}
.footer{
    background: linear-gradient(to top, #000280 0%, #003432 80%);
    width: 100%;
    height: 233px;
    text-align: center;  
}
.social__icons {
    text-align: center;
    
}
.social__icons li {
    display: inline-block;
    list-style-type: none;
  margin: 0 10px;
}
.social__icons li img {
    width: 24px;
    height: 24px;
    margin: auto;
    
}
.contact {
    text-transform: uppercase;
    line-height: 48px;
    font-size: 36px;
    text-decoration-color: #A89D9D;

}